body {
  background-color: white;
}

h2 {
  text-transform: uppercase;
  font-size: 20px;
}

.name {
  margin-right: 1200px;
  margin-top: 0px;
  color: greenyellow;
  font-style: italic;
  background-color: black;
}

.form-group {
  text-align: center;
  padding: 10px 0;
}

.form-admin {
  display: block;
  width: 50%;
}

.admin-input {
  width: 50%;
  height: 40px;
  font-size: 15px;
  margin: 10px 0;
}

.admin-label {
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.lenteles {
  display: block;
  width: 100%;
}

.forma {
  justify-content: center;
  width: 500px;
  border-radius: 20px;
  margin: auto;
  background-color: #d8d4d4;
}

.mygtukai {
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.admin-button {
  height: 40px;
  width: 100px;
  background-color: #c58181;
  border-radius: 20px;
  border: solid 1px #645b5b;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0 10px;
}

.admin-button:hover {
  transition: 1s;
  background-color: #645b5b;
  color: white;
}

.admin-event-form-group {
  width: 50%;
}

.form-admin {
  display: block;
  width: 50%;
}

input[type=text].admin-input,
input[type=datetime-local].admin-input,
textarea.admin-input {
  width: 70%;
  height: 40px;
  font-size: 12px;
  margin: 10px 0;
  color: #585858;
  border-color: #bdbdbd;
  border-radius: 4px;
}

input[type=text].admin-input:focus,
input[type=datetime-local].admin-input:focus,
textarea.admin-input:focus {
  outline: none !important;
}

textarea.admin-input {
  padding-top: 10px;
  height: 70px;
}

.admin-label {
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 10px;
  cursor: auto;
}

.admin-event-div {
  display: block;
  background-color: #fff;
  padding: 20px;
}

.admin-event-forms {
  justify-content: left;
  width: 100%;
}

.admin-event-buttons {
  display: block;
  width: 100%;
  text-align: left;
  padding: 20px 0 0 0;
}

.admin-event-button {
  width: 100px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #9c9c9c;
  background-color: #ebebeb;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 11px;
}

.admin-event-button:hover {
  transition: 0.5s;
  background-color: #d4d4d4;
}

/*-----------idejos-----------------*/

.container {
  width: calc(100% - 600px);
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

.container .idea {
  display: inline-block;
  padding: 20px 0;
  width: 100%;
}

.container .ideaBtn-send {
  width: 110px;
  margin: 20px 0 20px 0;
  padding: 10px 0px 10px 0;
  border: none;
  border-radius: 6px;
  color: #fff;
  background-color: #585858;
  font: 16px "Opens Sans", sans-serif;
  letter-spacing: 1px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.box {
  padding: 10px;
  height: 300px;
  width: 100%;
  position: relative;
}

.box .ideaContent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 22px;
  line-height: 30px;
}

.box .text {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  line-height: 20px;
  color: #585858;
}

.box .text .data {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.cont,
.backdrop,
.writeIdeaText {
  text-align: center;
  width: 100%;
  height: 40px;
}

.highlights,
textarea {
  padding: 10px;
  font: 20px/28px "Open Sans", sans-serif;
  letter-spacing: 1px;
}

.cont {
  display: block;
  margin: 0 auto;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
}

.backdrop {
  position: absolute;
  z-index: 1;
  border: 2px solid #685972;
  background-color: #fff;
  overflow: auto;
  pointer-events: none;
  transition: transform 1s;
}

.highlights {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: transparent;
}

.ideaContent {
  width: 100%;
  height: 100%;
}

.ideaContent .ideaTextEdit {
  width: 50%;
  height: 100%;
  float: left;
}

.ideaContent .ideaTextEdit .ideaText {
  position: absolute;
  z-index: 2;
  margin: 0;
  border: 2px solid #74637f;
  border-radius: 0;
  color: #0a0a0a;
  background-color: transparent;
  overflow: auto;
  resize: none;
  transition: transform 1s;
  font-size: 18px;
  line-height: 20px;
  height: 70%;
}

.ideaContent .ideaSoliution {
  width: 50%;
  height: 100%;
  float: right;
}

.ideaContent .ideaSoliution .ideaTextSoliution {
  position: absolute;
  z-index: 2;
  margin: 0;
  border: 2px solid #74637f;
  border-radius: 0;
  color: #0a0a0a;
  background-color: transparent;
  overflow: auto;
  resize: none;
  transition: transform 1s;
  font-size: 18px;
  line-height: 20px;
  height: 70%;
}

mark {
  border-radius: 3px;
  color: transparent;
  background-color: #b1d5e5;
}

.textCount {
  height: 20px;
  float: right;
}

.ideaBtns {
  display: inline-block;
}

.ideaBtn {
  width: 105px;
  margin: 220px 0 0px 0;
  padding: 10px 0px 10px 0;
  border: none;
  border-radius: 6px;
  color: #fff;
  background-color: #585858;
  font: 16px "Opens Sans", sans-serif;
  letter-spacing: 1px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.perspective .backdrop {
  transform: perspective(1500px) translateX(-125px) rotateY(45deg) scale(0.9);
}

.perspective textarea {
  transform: perspective(1500px) translateX(155px) rotateY(45deg) scale(1.1);
}

textarea:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #c6aada;
}

/*------like button-----------------*/

.like__btn {
  border: none;
  color: #4b4a4a;
  cursor: pointer;
  padding: 0.2rem;
  border-radius: 50px;
  max-width: 100px;
  transition: all ease 0.3s;
  margin: 10px 0 10px 0;
}

.like__btn:hover {
  background-color: rgba(231, 76, 60, 0.8);
}

.like__btn:disabled {
  background-color: #d4cfcf;
  cursor: pointer;
}

.like__icon {
  font-size: 1.2rem;
  margin-right: 0.3rem;
}

.like__number {
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.like {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 90%;
  top: 7%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  textarea,
  .container {
    width: 260px;
  }

  .like__number {
    margin: 10px 0 0 0;
  }

  .like__btn {
    margin: 20px 0 10px 0;
  }
}

.likeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.likeBox .number {
  line-height: 20px;
  font-size: 16px;
  margin: 0 0 0 20px;
}

h1 {
  text-align: center;
}

.galleryContainer {
  width: calc(100% - 600px);
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 300px;
}

.galleryContainer .galleryImage {
  height: 150px;
  background-color: #cef5cd;
  width: 100%;
}

.galleryContainer .galleryUploade {
  height: 150px;
  background-color: #a4c2da;
  width: 100%;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.galleryContainer .galleryUploade .uplodeBtn {
  height: 50px;
  width: 95%;
  color: #1d1d1d;
  font-weight: 100;
  border: none;
  font-size: 20px;
  line-height: 25px;
  margin-top: -100px;
  cursor: pointer;
}

.galleryContainer .galleryUploade .svg-wrapper {
  margin: 25px 0 0 0;
  width: 150px;
  height: 60px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
}

.galleryContainer .galleryUploade #shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #009FFD;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}

.galleryContainer .galleryUploade #text {
  margin-top: -47px;
  text-align: center;
}

.galleryContainer .galleryUploade .svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #06D6A0;
}

.galleryContainer .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.galleryContainer .wrapper .file-upload {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #FFFFFF;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
  background-size: 100% 200%;
  transition: all 1s;
  color: #FFFFFF;
  font-size: 100px;
}

.galleryContainer .wrapper .file-upload input[type=file] {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.galleryContainer .wrapper .file-upload:hover {
  background-position: 0 -100%;
  color: #2590EB;
}

.gallerGrid {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallerGrid .galleryDiv .deleteImd {
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: linear-gradient(to bottom, #f5d5d2 5%, #c62d1f 100%);
  background-color: #f5d5d2;
  border-radius: 6px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
  float: right;
}

.gallerGrid .galleryDiv .deleteImd:hover {
  background: linear-gradient(to bottom, #c62d1f 5%, #f5d5d2 100%);
  background-color: #c62d1f;
}

.gallerGrid .galleryDiv .deleteImd:active {
  position: relative;
  top: 1px;
}

.gallerGrid .uploadeImageGallery {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallerGrid input[type=text] {
  border: none;
  border-bottom: 2px solid #23344d;
  line-height: 20px;
}

@media (max-width: 600px) {
  .galleryContainer {
    width: 260px;
  }

  .galleryContainer .deleteImd {
    margin: 10px 0 0 0;
    text-align: center;
  }

  .galleryContainer input[type=text] {
    margin: 10px 0 0 0;
    width: 50%;
  }
}

