.btn-blue {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.btn-blue:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.btn-blue:active {
	position:relative;
	top:1px;
}


.btn-red {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #eb4934 5%, #cf0902 100%);
	background-color:#eb4934;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.btn-red:hover {
	background:linear-gradient(to bottom, #cf0902 5%, #eb4934 100%);
	background-color:#cf0902;
}
.btn-red:active {
	position:relative;
	top:1px;
}

.btn-grey {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #a8a8a8 5%, #7a7676 100%);
	background-color:#e2e2e2;
	border-radius:6px;
	border:1px solid #a8a8a8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.btn-grey:hover {
	background:linear-gradient(to bottom, #7a7676 5%,#333232 100%);
	background-color:#7a7676;
}
.btn-grey:active {
	position:relative;
	top:1px;
}

.btn-green {
	box-shadow: 0px 1px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #038a27 5%, #59cf19 100%);
	background-color:#038a27;
	border-radius:6px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2f6627;
}
.btn-green:hover {
	background:linear-gradient(to bottom, #59cf19 5%, #038a27 100%);
	background-color:#59cf19;
}
.btn-green:active {
	position:relative;
	top:1px;
}